# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
anaconda=custom=py35h64770cb_0
asn1crypto
awscli
backcall
backports
backports.functools_lru_cache
beautifulsoup4
blas
bleach
boto
boto3
botocore
bz2file
bzip2
ca-certificates
certifi
cffi
chardet
colorama
cryptography
cycler
cymem
cytoolz
decorator
dill
docutils
entrypoints
freetype
ftfy
funcy
future
fuzzywuzzy
gensim
html5lib
icc_rt
icu
idna
intel-openmp
ipykernel
ipython
ipython_genutils
jedi
jinja2
jmespath
joblib=0.11
jpeg=9b
jsonschema
jupyter_client
jupyter_core
kiwisolver
libflang
libiconv
libpng
libsodium
libtiff
libxml2
libxslt
llvm-meta
lxml
m2w64-gcc-libgfortran
m2w64-gcc-libs
m2w64-gcc-libs-core
m2w64-gmp
m2w64-libwinpthread-git
markupsafe
matplotlib
mistune
mkl
mkl_fft
mkl_random
msgpack-numpy
msgpack-python
msys2-conda-epoch
murmurhash
nb_conda
nb_conda_kernels
nbconvert
nbformat
notebook
numexpr
numpy
olefile
openblas
openmp
openssl
pandas
pandoc
pandocfilters
parso
patsy
pdfminer.six
pickleshare
pillow
pip
plac
preshed
prompt_toolkit
pyasn1
pycparser
pycrypto
pygments
pyldavis
pyopenssl
pyparsing
pypdf2
pyqt
pyreadline
pysocks
pytesseract
python
python-dateutil
python-docx
python-levenshtein
pytz
pywinpty
pyyaml
pyzmq
qt
regex
requests
rsa
s3fs
s3transfer
scikit-learn
scipy
seaborn
send2trash
setuptools
simplegeneric
sip
six
smart_open
spacy
sqlalchemy
sqlite
statsmodels
termcolor
terminado
testpath
thinc
tk
toolz
torchfile
tornado
tqdm
traitlets
ujson
urllib3
vc
visdom
vs2015_runtime
wcwidth
webencodings
websocket-client
wheel
win_inet_pton
win_unicode_console
wincertstore
winpty
wrapt
xlrd
yaml
zeromq
zlib
